In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os

# os.chdir("/home/nikosili/projects/datatalks_zoomcamp/Machine_Learning_Engineering_ZooCamp/QA_challenge")
# 
warnings.filterwarnings('ignore')
# sns.set_theme()
%matplotlib inline

In [2]:
train_a = pd.read_csv('data/train_answers.csv')
train_q = pd.read_csv('data/train_questions.csv')
test_q = pd.read_csv('data/test_questions.csv')
test_a = pd.read_csv('data/test_answers.csv')

### Train set

In [25]:
print(train_q.iloc[0][1],'\n\n',train_a.iloc[0][1])

For categorical target set, where the distribution is imbalanced (for example, 90/10) what approach should be used?

 Alexey
Should we use something non-standard there or can we just go with the usual things we learned in the course?
Hamed
You just need to test different strategies. Something I noticed – if you have so many parse subclasses in your categorical [inaudible], you should be careful about using one-hot encoding. You might say you can use ordinal encoding, if your data in nature had some order. It will be useful. In my particular data, I couldn't have domain knowledge. I didn't know what the subclasses were, so I couldn't decide which strategy I should choose. But if you have the domain knowledge, that’s the key here, I think.

"Alexey\nShould we use something non-standard there or can we just go with the usual things we learned in the course?\nHamed\nYou just need to test different strategies. Something I noticed – if you have so many parse subclasses in your categorical [inaudible], you should be careful about using one-hot encoding. You might say you can use ordinal encoding, if your data in nature had some order. It will be useful. In my particular data, I couldn't have domain knowledge. I didn't know what the subclasses were, so I couldn't decide which strategy I should choose. But if you have the domain knowledge, that’s the key here, I think."

In [5]:
train_q.head()

,question_id,question,course,year,candidate_answers,answer_id
0,79062,"For categorical target set, where the distribu...",Machine Learning Zoomcamp,2021,"156400,754877,105368,643810,912439",156400
1,468946,Is there anything that we are not allowed to u...,Machine Learning Zoomcamp,2021,"641330,634887,912439,425941,642829",634887
2,968800,I have been catching up and have been doing ho...,Data Engineering Zoomcamp,2022,"954016,167856,75919,36798,838013",954016
3,688404,Could you please explain what code we should l...,Data Engineering Zoomcamp,2022,"198661,629898,686577,3699,141765",3699
4,63921,Is it just me or does the model have really ba...,Machine Learning Zoomcamp,2021,"754877,604487,912439,858915,425941",858915

In [6]:
train_a.head()

,answer_id,answer,course,year,attachments_files
0,156400,Alexey\nShould we use something non-standard t...,Machine Learning Zoomcamp,2021,NaN
1,634887,"No, I don't think there is anything you cannot...",Machine Learning Zoomcamp,2021,NaN
2,954016,"Alexey\nYes, you will be. You can submit the p...",Data Engineering Zoomcamp,2022,NaN
3,3699,Alexey\nI think the question refers to the hom...,Data Engineering Zoomcamp,2022,NaN
4,858915,"Dmitry\nIt's fine, because this is the showcas...",Machine Learning Zoomcamp,2021,NaN

In [7]:
temp_1 = train_q.groupby(['question_id', 'answer_id']).size().reset_index().rename(columns={0:'rec_count'})
temp_1.groupby('question_id').size().reset_index().rename(columns={0:'rec_count'}).sort_values('rec_count', ascending=False)

     question_id  rec_count
279       647840          2
0             26          1
261       605034          1
270       622805          1
269       619694          1
..           ...        ...
129       282338          1
128       278678          1
127       274935          1
126       273744          1
395       994378          1

[396 rows x 2 columns]

In [8]:
temp_1.groupby('answer_id').size().reset_index().rename(columns={0:'rec_count'}).sort_values('rec_count', ascending=False)

     answer_id  rec_count
310     774098          2
0         3699          1
270     673096          1
269     668438          1
268     666820          1
..         ...        ...
129     325935          1
128     323402          1
127     322444          1
126     317865          1
395     998091          1

[396 rows x 2 columns]

In [9]:
# print(train_q[train_q['answer_id'] == 774098].answr)
print(train_q[train_q['answer_id'] == 774098].question.iloc[0])
print(train_q[train_q['answer_id'] == 774098].question.iloc[1],'\n')
print(train_a[train_a['answer_id'] == 774098].answer)

Can we use PyTorch instead of TensorFlow?
For rating data (number of stars) can we use a linear regression model?

261    Yes, you can.
358    Yes, you can.
Name: answer, dtype: object

In [10]:
print(train_q.shape)
temp = train_q.drop_duplicates(subset=['answer_id'], keep='first')
print(temp.shape)
print(temp[temp['answer_id'] == 774098].question.iloc[0])

(397, 6)
(396, 6)
Can we use PyTorch instead of TensorFlow?

In [11]:
train_q[train_q['question_id'] == 647840].question

72     How many submissions were there this week?
159    How many submissions were there this week?
Name: question, dtype: object

In [12]:
list(train_q[train_q['question_id'] == 647840].question.index)

[72, 159]

In [13]:
print(train_a[(train_a['answer_id'] == 276086) | (train_a['answer_id'] == 964992)].answer.iloc[0],'\n')
print(train_a[(train_a['answer_id'] == 276086) | (train_a['answer_id'] == 964992)].answer.iloc[1])

I think around 200? 204, I think. Something like this.

Alexey
246, which is 150 less than last week. Last week, it was 404. I don’t know if this homework was maybe a bit more difficult. But the next one is also fun. I think if you liked the homework we prepared for this week, the next one will also be fun. Right, Dmitry?
Dmitry
Yeah, for sure.

In [14]:
print(temp.shape)
temp = temp.drop(list(train_q[train_q['question_id'] == 647840].question.index))
print(temp.shape)

(396, 6)
(394, 6)

### Test set

In [32]:
test_a[test_a.duplicated()]

,answer_id,answer,course,year,attachments_files
73,774098,"Yes, you can.",Data Engineering Zoomcamp,2023,NaN